{% extends 'base.html' %}

{% block content %}

    <div class="jumbotron" style="background-color: rgb(255, 255, 255); margin:50px; padding:20px; box-shadow: 3px 3px 10px 10px rgb(155, 155, 155); ">
        {% if status %}
            <h1 class="display-2" style="text-align:center; margin:auto; font-weight: bold;"><i class="fas fa-check-circle" style="font-size:60px; color:#11a96c;"></i></h1>
            <p class="lead" style="text-align:center; margin:auto;">Thank You ! Your payment has processed successfully</p>
        {% else %}
            <h2 style="text-align:center">Your Payment has failed! Try Again</h2>
        {% endif %}
        <p></p>
        <p class="lead" style="text-align:center; margin:auto;">
        <a class="btn btn-outline-dark" href="./" role="button">Make More Payments</a>
        </p>
    </div>

{% endblock %}